<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/main_page.css">
    <title>Amir Alsayed</title>
</head>
<body>
    <div class="intro">
        <h1>Hi there, I'm Amir Alsayed</h1>
        <p>I'm a software engineer.</p>
    </div>
    <div class="projects">
        <div class="card">
            <h2>Age Calculator</h2>
            <a href="age">Check it out</a>
        </div>
        <div class="card">
            <h2>Manager</h2>
            <a href="manager">Check it out</a>
        </div>
    </div>
</body>
</html>
