body {
    display: flex;
    justify-content center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    direction: rtl; /* Right-to-left text direction */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.date_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center
    ;
}
h1 {
    margin-top: 0;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
}

input[type="number"] {
    /* width: calc(33.33% - 10px); */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

.result {
    margin-top: 20px;
}
